{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
            <ol>
                {% for listing  in listings %}
                <form action="{% url 'listing' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <li><h3>{{ listing.title }}<h3></li>
                        <ul>
                            <li><h5>Description:</h5> {{ listing.description }}</li>
                            <br>
                            <li><h5>Current Bid:</h5> ${{ listing.startingBid }}</li>
                            <br>
                        </ul>

                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input type="hidden" id="listingID" name="listingID" value="{{ listing.id }}"> 
                        <button class="btn btn-primary">Visit listing</button>
                    </div>
                </form>
                {% endfor %}
            </ol>
        

    


{% endblock %}