{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="listing container-fluid rounded shadow-sm">
        <br>
        <h2 class="text-center">{{ title.upper }}</h2>

        <dl>
            <dt>Listed by :</dt>
            <dd>{{ creater.username.upper }}</dd>
            <dt>Category:</dt>
            <dd>{{ category.name }}</dd>
        </dl>



        <ul class="list-group">
            <li class="list-group-item"><h5>Description: </h5>{{ description }}</li>
            <li class="list-group-item"><h4>Current Bid - ${{ startingBid }}</h4></li>
        </ul>



        {% if user.is_authenticated %}

            <br>
            <div class="row">
                <div class="col-6 text-left">
                    <form action="{% url 'deleteEntry' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                        {% if user.is_authenticated and user.id == creater.id %}
                            <button class="btn btn-block btn-danger rounded shadow-sm"> Delete Listing </button>
                        {% endif %}   
                    </form>
                </div>
                <div class="col-6 text-right">
                    <form action="{% url 'deleteEntry' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                        {% if user.is_authenticated and user.id == creater.id %}
                            <button class="btn btn-block btn-warning rounded shadow-sm"> Close Listing </button>
                        {% endif %}   
                    </form>
                </div>
            </div>


            {% if creater.id != user.id %}
                {% if currentListing in listings %}
                    <form action="{% url 'removeFromWatchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                        <button class="btn btn-warning btn-block rounded shadow-sm">Remove from Watchlist</button>
                    </form>
                {% else %}
                    <form action="{% url 'addToWatchList' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                        <button class="btn btn-success btn-block rounded shadow-sm">Add To Watchlist</button>
                    </form>
                {% endif %}
            {% endif %}
            
            
            {% if creater.id != user.id %}
                <form action=" {% url 'newBid' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <br/>
                        <label><h5>Enter Bid:</h5></label>
                        <input type="hidden" id="listingID" name="listingID" value="{{ ID }}">
                        <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                        <input class="form-control" name="enterBid" type="text" placeholder="{{ startingBid }} bid by"/>
                    </div>
                    <button class="btn btn-primary btn-block rounded shadow-sm" type="submit">Submit</button>  
                </form> 
                    {% for message in messages %}
                        {% if 'no_new_bid' or 'low_bid' in message.extra_tags %}
                        <br>
                            <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-danger" role="alert" >
                                <h3>{{ message }}</h3>
                            </div>
                            </div>
                        {% endif %}
                    
                    {% endfor %}
            {% endif %}

        {% endif %}
        <br>

        
        
        
        <br>
        {% if user.is_authenticated and creater.id != user.id%}
            <form action="{% url 'add_comment' %}" method="post">
                {% csrf_token %}
                <h2 class="text-center"> Add Commment </h2>
                <div class="form-group">
                    <input class="form-control" type="text" id="comment" name="comment">
                    <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                    <input type="hidden" id="listingID" name="listingID" value="{{ ID }}">  
                </div>
                <button class="btn btn-primary btn-block rounded shadow-sm" type="submit">Submit</button>
            </form>

            {% for message in messages %}
                {% if 'no_comment' in message.extra_tags %}
                    <br>
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-danger" role="alert" >
                            <h3>{{ message }}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endif %}

        <dl>
            <h3>Comments</h3>
            {% for comment in comments %}
                <dd class="list-group-item">{{ comment.creater.username.upper }} - {{ comment.comment }}</dd>
            {% empty%}
                <dd><h5>There are no comments</h5></dd>
            {% endfor %}
        </ul>
        <br>
    </div>
{% endblock  %}