{% extends 'auctions/layout.html' %}

{% block body %}




    <h1 class="text-center">{{ title }}</h1>

    <dl>
        <dt>Listed by :</dt>
        <dd>{{ creater }}</dd>
        <dt>Category :</dt>
        <dd>{{ category }}</dd>
    </dl>



    <ul class="list-group">
        <li class="list-group-item"><h5>Description: </h5>{{ description }}</li>
        <li class="list-group-item"><h4>Current Bid - ${{ startingBid }}</h4></li>
    </ul>



    {% if user.is_authenticated %}
        <br>

        <form action="{% url 'deleteEntry' %}" method="post">
            {% csrf_token %}
            <div class="col-md-12 text-right">
                <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                {% if user.is_authenticated and user.id == creater.id %}
                    <button class="btn btn-danger float-right"> Delete Listing </button>
                {% endif %}
            </div>
            
        </form>

            {% if currentListing in listings %}
                <form action="{% url 'removeFromWatchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                    <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                    <button class="btn btn-primary">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addToWatchList' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                    <input type="hidden" id="listingID" name="listingID" value="{{ ID }}"> 
                    <button class="btn btn-primary">Add To Watchlist</button>
                </form>
            {% endif %}
            
        


        <form action=" {% url 'newBid' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <br/>
                <label><h5>Enter Bid:</h5></label>
                <input type="hidden" id="listingID" name="listingID" value="{{ ID }}">
                <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                <input class="form-control" name="enterBid" type="text" placeholder="{{ startingBid }}"/>
            </div>
            {% for message in messages %}
                <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-danger" role="alert" >
                    <h3>{{ message }}</h3>
                </div>
                </div>
            {% endfor %}
           
            <button class="btn btn-primary" type="submit">Submit</button>
            
        </form> 
    {% endif %}
    <br>

    
    
    
    <br>
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <h2 class="text-center"> Add Commment </h2>
            <div class="form-group">
                <input class="form-control" type="text" id="comment" name="comment">
                <input type="hidden" id="userID" name="userID" value="{{ user.id }}">
                <input type="hidden" id="listingID" name="listingID" value="{{ ID }}">  
            </div>
            <button class="btn btn-primary lrg" type="submit">Submit</button>
        </form>
        <br>

        <ul class="list-group">
            {% for comment in comments %}
                <h3>Comments</h3>
                <li class="list-group-item">{{ comment.creater }} - {{ comment.comment }}<li>
            {% endfor %}
        </ul>

{% endblock  %}